# Ignore everything
# Ignore everything
*

# Except these
!.gitignore
!README.md
!labs/
!labs/**

# Never publish these lab files
/labs/15_tinydb_crud.md
/labs/16_data_ingestion_pipeline.md
/labs/17_data_cleaning_batch.md
/labs/18_advanced_aggregations_spark_sql.md
/labs/19_tinydb_modeling.md
/labs/20_tinydb_queries_limits.md
/labs/21_tinydb_mongodb_cap_theorem.md
/labs/22_pipeline_end_to_end.md
/labs/23_mini_project.md

# Allow lab_solutions folder (but not all files)
!lab_solutions/
!lab_solutions/sol_01_*
!lab_solutions/sol_02_*
!lab_solutions/sol_03_*
!lab_solutions/sol_04_*
!lab_solutions/sol_05_*
!lab_solutions/sol_06_*
!lab_solutions/sol_07_*
!lab_solutions/sol_08_*
!lab_solutions/sol_09_*
!lab_solutions/sol_10_*
!lab_solutions/sol_11_*
!lab_solutions/sol_12_*
!lab_solutions/sol_13_*